/*INDEX*/

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
}

.header_index h1{
    color: #FF2B2A;
    margin: 30px auto 30px auto;
    padding: 15px;
    text-align: center;
}

body{
    background-color: #0F0F27;
}

.body_home{
    background-color: #0F0F27;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); 
}

input[type=text]{
    background-color: transparent;
}

input[type=range]{
    background-color: transparent;
}

#textarea_number{
    background-color: transparent;
}

#calculate_result_button{
    background-color: transparent;
}

/* MENÚ */

#menu{    
    width: 100%;
    height: 60px;
    left: 50px;
}

#menu-icon{
    position: absolute;
    height: 60px;
    cursor: pointer;
    z-index: 2;
}

.menu-container{
    background-color: #FF2B2A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23FF2B2A'/%3E%3Cstop offset='1' stop-color='%230F0F27'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 40%;
    position: absolute;
    top:0px;
    left: 0;
    transition: all .5s ease;
}

.menu-container ul{
    position: absolute;
    top: 150px;
    left: 50px;
    line-height: 100px;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
}

.menu-container a{
    color: #ffffff;
    text-decoration: none;
}

.menu-container ul li:hover{
    cursor: pointer;
    text-decoration:underline;
}

.menu-container-displayer{
    transform: translate(-1000px);
}

/*GEOMETRY CALCULATOR*/

.header_workshop {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.header_workshop h1{
    display: inline-block;
    color: #FF2B2A;
    text-align: center;
}

.header_workshop img{
    height: 80px;
    margin: 10px;    
}

.workshop_buttons{
    text-align: center;
    margin:30px;
}

.workshop_buttons_option{
    display: contents;
    text-decoration: none;
    color:#ffffff;    
}

.workshop_buttons_option:hover{
    background-color:#FF2B2A;
}

.workshop_buttons_option_content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30%;
    min-width: 150px;
    padding: 10px;
    border: solid #FF2B2A 2px;
    border-radius: 5px;
}

.workshop_buttons_option_content:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);    
  }

.workshop_buttons_option_content img{
    height: 60px;
}

.geometric_calculators{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 50px;
}
.geometric_calculators_container{
    border: solid #FF2B2A 2px;
    border-radius: 5px;
    width: 35%;
    margin: 30px;
    padding: 30px;
}

.geometric_calculators_container_header {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.geometric_calculators_container_header h2{
    color: #FF2B2A;
    align-self: center;
    justify-content: center;
    margin: 5px;
}

.geometric_calculators_container form{
    color: #ffffff;  
}

.geometric_calculators_container img{
    height: 60px;
    margin: 5px;
} 

.geometric_calculators_container ul{
    list-style: none;
}

.geometric_calculators_container li{
    padding: 8px;
}

.geometric_calculators_container input{
    border: solid #ffffff 1px;
    height: 35px;
    width: 80%;
    min-width: 135px;
    border-radius: 3px;
    color: white;
    padding-left: 5px;
}

.geometric_calculators_container_triangle_inputInline {
    display: inline;
}

.geometric_calculators_container_triangle input{
    border: solid #ffffff 1px;
    height: 35px;
    width: 35%;
    min-width: 135px;
    border-radius: 3px;
    color: white;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.geometric_calculators_container_button {
    background-color: #FF2B2A;
    padding: 10px;
    border: none;
    width: 80%;
    color: white;
    min-width: 135px;
    border-radius: 3px;
}

#geometric_calculators_container_result{
    font-weight: bold;
    font-size: large;
}

/*DISCOUNTS AND PRICES*/

.product_price_discount{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.product_price_discount_priceImage { 
    flex: 1;
    width: 60%;
    min-width: 400px;
    margin: auto;
}

.product_price_discount_priceImage img{
    width: 100%;
    min-width: 400px;
}

.product_price_discount_description {   
    flex: 1; 
    width: 50%;
    min-width: 400px;
    color:#ffffff;
    padding: 20px 0px 10px 20px;
    margin: auto;
}

.product_price_discount_description h2 {
    color: #FF2B2A;
    margin-bottom: 20px;
}

#product_price_discount_priceAfter {
    font-size: 40px;
    font-weight: bold;
    color: #FF2B2A;
}
#product_price_discount_priceBefore {
    font-size: 40px;
    font-weight: bold;
    color: #FF2B2A;
}

#coupon_input {
    margin-top: 10px;
    border: solid #ffffff 1px;
    height: 30px;
    width: 30%;
    min-width: 135px;
    border-radius: 3px;
    color: white;
    padding-left: 5px;
    margin-right: 5px;
}

.coupon_input_button{
    background-color: #FF2B2A;
    height: 30px;
    margin-top: 10px;
    border: none;
    width: 30%;
    color: white;
    min-width: 135px;
    border-radius: 3px;
}

/*MATH CALC.*/

.maths_calc_container{
    width: 100%;
    text-align: center;
}

.maths_calc_container_form{
    width: 100%;
}

.maths_calc_container_form label{
    color: #ffffff;
}

.maths_calc_container_form textarea {
    border: solid #ffffff 1px;
    height: 100px;
    width: 40%;
    min-width: 185px;
    border-radius: 3px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    resize:none;
}

#calculate_result_button{
    color: #ffffff;
    padding: 25px;
    border-color: #ffffff;
    border-radius: 5px;
}

.maths_calc_container_results{
    display: flex;
    width: auto;
    flex-flow: wrap;
    color: #ffffff;
    margin: 0 1% 0 1%;
    justify-content: center;    
}

.maths_calc_container_results_cont{
    padding: 3%;
    width: 20%;
    min-width: 185px;
    margin: 3%;
    border: solid 2px #FF2B2A;
    border-radius: 5px;
}

.maths_calc_container_results_cont span{
    color:#FF2B2A;
    font-weight: bold;
    font-size: 20px;
}

/*MATH LOAN REPAYMENT*/
.loanRepayment_container{
    width: 100%;
    margin: 0 auto;
}

.loanRepayment_container h2{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.loanRepayment_info{
    width: 30%;
    min-width: 250px;
    margin: 0 auto;
    border: 2px solid #FF2B2A;
    border-radius: 5px;
    text-align: center;
}

.loanRepayment_info h3{
    color: #ffffff;
    font-size: 16px;
}

.loanRepayment_info label{
    color: #ffffff;
}

.loanRepayment_info input{
    border: solid #ffffff 1px;
    height: 35px;
    width: 30%;
    min-width: 135px;
    border-radius: 3px;
    color: white;
    padding-left: 5px;
}

.loanRepayment_info button{
    background-color: #FF2B2A;;
    height: auto;
    border: none;
    width: 30%;
    color: white;
    min-width: 135px;
    border-radius: 3px;
    padding: 6px;
}

.slider-container-valueBlock{
    padding-top: 10px;
    color: #FF2B2A;
    font-size: 20px;
    font-weight: bold;
}

/* --------Input range styles------*/

input[type=range]{
    border:none;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
  }
  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #ffffff;
    border-radius: 12px;
    border: 0px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 19px;
    width: 19px;
    border-radius: 6px;
    background: #ff2b2a;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #ffffff;
    border-radius: 12px;
    border: 0px solid #000000;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 19px;
    width: 19px;
    border-radius: 6px;
    background: #ff2b2a;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border: 0px solid #000000;
    border-radius: 24px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0px solid #000000;
    border-radius: 24px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 19px;
    width: 19px;
    border-radius: 6px;
    background: #ff2b2a;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }

  #loanRepayment_output{
    color:#ffffff;
    width: 100%;
    margin-bottom: 5%;
  }

  #loanRepayment_output table{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #FF2B2A;
    padding: 1%;
  }

  #loanRepayment_container th{
    text-align: center;
    width: 200px;
    padding: 0.5%;
  }

  #loanRepayment_output td{
    padding: 1%;
    margin: 0;
    text-align: center;
  }

  /* MEDIA QUERYS */

  @media (max-width: 1600px){
    .menu-container ul{
        font-size: 18px;
    }

    .menu-container{
        width: 60%;
    }
  }

  @media (max-width: 1100px){
    .menu-container ul{
        font-size: 15px;
    }
  }

  @media (max-width: 660px){
    .menu-container{
        width: 100%;
    }
    .menu-container ul{
        font-size: 15px;
    }
  }

  @media (max-width: 380px){
    .menu-container{
        width: 100%;
    }
    .menu-container ul{
        left: 15px;
        line-height: 70px;
        font-size: 12px;
    }
  }

  @media screen and (max-width: 850px) {
    .loanRepayment_info{
        min-width: none;
        width: 90%;
    }

    #loanRepayment_output table{
        display: block;
        overflow-x: auto;
        width: 90%;
    }

    #loanRepayment_output th {
        min-width: 125px;
    }
}

@media (max-width: 670px){
    .loanRepayment_container h2{
        padding: 15px;
    }
  }

  @media (max-width: 660px){
    .geometric_calculators_container{
        width: 100%;
    }
    button.geometric_calculators_container_button {
        width: 100%;
    }
    .geometric_calculators input {
        width: 100%;
    }

    .geometric_calculators_container_triangle_inputInline {
        display: block;
    }

    .product_price_discount {
        width: 100%;
    }

    .product_price_discount_priceImage { 
        width: 100%;
        min-width: 270px;
    }
    
    .product_price_discount_priceImage img{
        min-width: 270px;
        padding: 20px;
    }

    .product_price_discount_description {   
        min-width: 270px;
        width: 100%;
        padding: 20px;
    }

    .product_price_discount_priceImage { 
        flex: none;
    }
    
    .product_price_discount_description {   
        flex: none; 
    }

    #coupon_input{
        width: 100%;
    }

    .coupon_input_button{
        width: 100%;
    }
  }

  @media (max-width: 429px){
    form.maths_calc_container_form {
        margin-bottom: 10px;
    }
  }

